<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My experience list.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>CTO</h4>
                                    <h4 class="subheading">Systech Unimax Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2018 - Continue</p>
                                    <p class="text-muted">Deals with various management stuff, company goals, revinew generation, corporate relation maintaining, engineering, business planning etc.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>CTO</h4>
                                    <h4 class="subheading">Interconnection Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2017 - 2018</p>
                                    <p class="text-muted">Was mainly responsible for maintaining a good relationship with the stackholders, leading the engineering team and solve various R&D problems. Training the team was also a great task.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lead R&D Engineer</h4>
                                    <h4 class="subheading">Kona Software Lab Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2016 - 2017</p>
                                    <p class="text-muted">The best learning curve in my Career where I worked on financial technologies. Officially contributed to the product management and business development team.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>CTO</h4>
                                    <h4 class="subheading">ST Solutions International LLC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2009 - 2016</p>
                                    <p class="text-muted">Was responsible for leading the Research, Design and Development process. Also responsible for managing projects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-panel">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Trainer, Programmer</h4>
                                    <h4 class="subheading">C+S Computer System</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2008 - 2009</p>
                                    <p class="text-muted">Was responsible for PHP, C, Java course and making a Blood Donation Management System in C++</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Was
                                    <br>Studying
                                    <br>CSE</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
